In [2]:
# SQLite es un gestor de BD relacionales 

import sqlite3

#Conectandose/creando la base de datos
conection = sqlite3.connect("ejemplo.db")

#cursor: permite crear tabla
cursor = conection.cursor()

conection.close()

In [10]:
#Creando tabla
conection = sqlite3.connect("ejemplo.db")
cursor = conection.cursor()

cursor.execute("CREATE TABLE students (name VARCHAR(100), profession VARCHAR (100), age INTEGER)")

conection.close()

OperationalError: table students already exists

In [11]:
# Ingresando y leyendo varios registros con .executemany()

conection = sqlite3.connect("ejemplo.db")
cursor = conection.cursor()

users = [
    ("Johan", "Programador", 16),
    ("Sebastián", "Ingeniero de sistemas", 18),
    ("JPosada", "Científico de datos", 30)
]


cursor.executemany("INSERT INTO students VALUES (?, ?, ?)", users)


#Guardando los cambios
conection.commit()
conection.close()

In [14]:
#INSERT INTO, para ingresar datos

conection = sqlite3.connect("ejemplo.db")
cursor = conection.cursor()


cursor.execute("INSERT INTO students VALUES ('Alejandro', 'Médico', 19)")

conection.commit()
conection.close()

In [45]:
# SELECT * FROM, para leer contenido de una tabla

conection = sqlite3.connect("ejemplo.db")
cursor = conection.cursor()

cursor.execute("SELECT * FROM students")


users = cursor.fetchall()


for user in users:
    print(f"{user}\n")

count = 0
for name in users:
    count += 1
    print(f"Usuario{count}: {name[0]}")

conection.commit()
conection.close()

('Johan', 'Programador', 16)

('Sebastián', 'Ingeniero de sistemas', 18)

('JPosada', 'Científico de datos', 30)

('Alejandro', 'Médico', 19)

Usuario1: Johan
Usuario2: Sebastián
Usuario3: JPosada
Usuario4: Alejandro

In [47]:
conection = sqlite3.connect("ejemplo.db")
cursor = conection.cursor()

cursor.execute("SELECT * FROM students")


user1 = cursor.fetchone()

print(user1)

('Johan', 'Programador', 16)

In [68]:
# Leer e insertar CSV

import sqlite3, csv

conection = sqlite3.connect("ejemplo.db")
cursor = conection.cursor()

#cursor.execute("CREATE TABLE people (email VARCHAR(100), career VARCHAR (100), name VARCHAR(100), age INTEGER)")

file_ = open("datos_db.txt")

data = csv.reader(file_)

#cursor.executemany("INSERT INTO people VALUES (?, ?, ?, ?)", data)
cursor.execute("SELECT * FROM people")

viewdata = cursor.fetchall()

for data in viewdata:
    print(data, "\n")

conection.commit()
conection.close()

('paella@vip.com', 'Medicina', 'Giuliana', 27)

('crimewave@vip.com', 'Derecho', 'Alicia', 20)

('prince@orange.com', 'Ingenieria', 'William', 24)

('elrisortdewelini@vip.com', 'Nutricion', 'Chefsito', 25)

('planb@vip.com', 'Artes', 'Chencho', 30)

('channel@boyz.com', 'Letras', 'Frank', 32)

('vinos@aouju.com', 'Nutricion', 'Eugenia', 23)