## Pandas

* Proporciona herramientas analíticas y estructura de datos
* La clase `DataFrame` es útil para la representacióny manipulación de datos hererogéneos tabulados (hojas de cálculo, tablas de SQL ...)

* Lee/escribe ficheros como CSV, XLS, SQL, HDF5 ...
* Estructuras de datos: `DataFrame`, `Series`
* Permite filtrar, agregar o eliminar datos
* Combina los arrays de numpy con su capacidad para analizar datos tabulados

In [44]:
import pandas as pd
import numpy as np

### Series

En pandas una serie es un objeto que contiene un array unidimensional de datos y un array de etiquetas(**índice**); si este no se especifica, entonces se genera automáticamente como una secuencia de *integers*.

```python
    serie = pd.Series(data, index=index)
```

In [45]:
#Creando una Series con índice automático
serie = pd.Series([2000, 2001, 2002, 2003])
serie

0    2000
1    2001
2    2002
3    2003
dtype: int64

In [46]:
#Accediendo a los valores de la serie lo que devuelve un array de numpy
serie.values

array([2000, 2001, 2002, 2003])

In [47]:
serie.values

array([2000, 2001, 2002, 2003])

In [48]:
serie.values.sum()

8006

In [49]:
serie.index

RangeIndex(start=0, stop=4, step=1)

#### Definiendo un `array índice`, pasándolo como argumento

In [51]:
serie = pd.Series([2000, 2001, 2002, 2003], ['Juan', 'Esteban', 'Alberto', 'Carlos'])
serie

Juan       2000
Esteban    2001
Alberto    2002
Carlos     2003
dtype: int64

In [52]:
serie.index

Index(['Juan', 'Esteban', 'Alberto', 'Carlos'], dtype='object')

### También se pueden crear Series a partir de `arrays unidimesionales`, diccionarios, etc

In [69]:
serie_npArray = pd.Series(np.random.rand(11))
serie_npArray

0     0.063303
1     0.936612
2     0.347163
3     0.872028
4     0.254427
5     0.619704
6     0.968241
7     0.698439
8     0.871905
9     0.225029
10    0.931695
dtype: float64

In [70]:
"""dic = {}

for x in range(0, 11):
    dic[f"Cuadrado de {x}"] = x**2
dic
"""

dic = {f"Cuadrado de {x}" : x**2 for x in range(0,11)}
dic

{'Cuadrado de 0': 0,
 'Cuadrado de 1': 1,
 'Cuadrado de 2': 4,
 'Cuadrado de 3': 9,
 'Cuadrado de 4': 16,
 'Cuadrado de 5': 25,
 'Cuadrado de 6': 36,
 'Cuadrado de 7': 49,
 'Cuadrado de 8': 64,
 'Cuadrado de 9': 81,
 'Cuadrado de 10': 100}

In [65]:
numeros_Serie = pd.Series(dic)
numeros_Serie

Cuadrado de 0       0
Cuadrado de 1       1
Cuadrado de 2       4
Cuadrado de 3       9
Cuadrado de 4      16
Cuadrado de 5      25
Cuadrado de 6      36
Cuadrado de 7      49
Cuadrado de 8      64
Cuadrado de 9      81
Cuadrado de 10    100
dtype: int64