## DataFrames

* Son estructuras que almacenan datos de forma tabular(filas y columnas)
* Cada fila contiene una observación.
* Cada columna contiene una variable.
* Acepta datos heterogéneos (variables de distintos tipos).
* Además de contener datos, también contiene el nombre de las variables, sus tipos y metodos que permiten acceder y modificar los datos.

    
    ``` python
    df = pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)
    ```

In [1]:
import numpy as np
import pandas as pd

In [12]:
data = {
    'cities': ['Bogotá', 'Medellín', 'Madrid', 'Barcelona', 'Sevilla', 'Cartagena'],
    'población': [8000, 3000, 10000, 9000, 8500, 3500],
    'infectados': [100, 50, 30, 10, 15, 12]
}

df = pd.DataFrame(data)
df

      cities  población  infectados
0     Bogotá       8000         100
1   Medellín       3000          50
2     Madrid      10000          30
3  Barcelona       9000          10
4    Sevilla       8500          15
5  Cartagena       3500          12

In [22]:
df.columns

Index(['cities', 'población', 'infectados'], dtype='object')

In [23]:
df['cities']

0       Bogotá
1     Medellín
2       Madrid
3    Barcelona
4      Sevilla
5    Cartagena
Name: cities, dtype: object

In [24]:
df.cities, df.población

(0       Bogotá
 1     Medellín
 2       Madrid
 3    Barcelona
 4      Sevilla
 5    Cartagena
 Name: cities, dtype: object,
 0     8000
 1     3000
 2    10000
 3     9000
 4     8500
 5     3500
 Name: población, dtype: int64)

In [13]:
df.shape

(6, 3)

In [15]:
df.dtypes

cities        object
población      int64
infectados     int64
dtype: object

In [34]:
df.head()

      cities  población  infectados
0     Bogotá       8000         100
1   Medellín       3000          50
2     Madrid      10000          30
3  Barcelona       9000          10
4    Sevilla       8500          15

In [35]:
df.head(3)

     cities  población  infectados
0    Bogotá       8000         100
1  Medellín       3000          50
2    Madrid      10000          30

In [32]:
df.tail()

      cities  población  infectados
1   Medellín       3000          50
2     Madrid      10000          30
3  Barcelona       9000          10
4    Sevilla       8500          15
5  Cartagena       3500          12

In [37]:
df.tail(2)

      cities  población  infectados
4    Sevilla       8500          15
5  Cartagena       3500          12