In [3]:
import pandas as pd
import numpy as np

In [25]:
lista = ['Papa', 'coco', 'apple']

list2 = [lista[np.random.randint(len(lista))] for e in lista]
list2

['coco', 'Papa', 'apple']

In [40]:
list2 = []
for e in lista:
    n_al = np.random.randint(len(lista))
    el_al = lista[n_al]
    list2.append(el_al)

list2

['Papa', 'apple', 'coco']

##### Ejemplo del uso de zip()

zip() agrega valores iterables en una tupla

In [104]:
fruits = ['apple', 'pineapple', 'orange']
quantity = [2, 5, 10]

listaFyQ = list(zip(fruits, quantity))
print(listaFyQ)

[('apple', 2), ('pineapple', 5), ('orange', 10)]

### Creando un dataset a partir de una función

##### Usando np.random para indexar una lista

In [103]:
def CrearDataset(Num=1):
    #Creando una lista que va a contener toda la data del DataFrame
    data = []
    #Num va a ser el n de veces que se va a realizar el ciclo
    for i in range(Num):

        #Se crea un rango de fechas con frecuencia semanal cada lunes (freq=W-MON)
        fechas_rango = pd.date_range('2022/1/1', '2023/1/1', freq='W-MON')

        #Se crea un array con n de clientes con tamaño igual a la cantidad de fechas
        clientes = np.random.randint(1000, size=len(fechas_rango))

        #Se crea una lista de locales
        local = ['Bogotá', 'Facatativá', 'Medellín']
        #Seleccionando un valor aleatorio de (local) usando indexacion con randint. ej local[0]
        random_local = [local[np.random.randint(len(local))] for x in clientes]
    
        compra_online = [True, False]
        random_compra_online = [compra_online[np.random.randint(len(compra_online))] for x in clientes]

        #Usando extend() para añadir varios items a la data
        #Zip añade los valores a la lista en el orden en que se van iterando
        data.extend(zip(fechas_rango, clientes, random_local, random_compra_online))

    return data

dataset = CrearDataset(2)

df = pd.DataFrame(dataset, columns=['fechas', 'n clientes', 'local', 'Compra_online'])
df

        fechas  n clientes       local  Compra_online
0   2022-01-03         926  Facatativá           True
1   2022-01-10         692  Facatativá          False
2   2022-01-17         578  Facatativá          False
3   2022-01-24         529  Facatativá           True
4   2022-01-31         947  Facatativá           True
..         ...         ...         ...            ...
99  2022-11-28         490      Bogotá          False
100 2022-12-05         586      Bogotá          False
101 2022-12-12         409    Medellín          False
102 2022-12-19         876      Bogotá           True
103 2022-12-26         398      Bogotá          False

[104 rows x 4 columns]

##### Usando random.choice (metodo más fácil)

In [102]:
from random import choice

def CrearDataset(n=1):
    data = []
    for i in range(n):
        fechas_rango = pd.date_range('2022/1/1', '2023/1/1', freq='W-MON')
        clientes = np.random.randint(1000, size=len(fechas_rango))
        
        local = ['Bogotá', 'Facatativá', 'Medellín']
        random_local = [choice(local) for x in clientes]
        
        compra_online = [True, False]
        random_compra_online = [choice(compra_online) for x in clientes]
        data.extend(zip(fechas_rango, clientes, random_local, random_compra_online))

    return data

dataset = CrearDataset(3)

df = pd.DataFrame(dataset, columns=['fechas', 'n clientes', 'local', 'Compra_online'])
df

        fechas  n clientes       local  Compra_online
0   2022-01-03         963    Medellín           True
1   2022-01-10         784      Bogotá          False
2   2022-01-17          68      Bogotá           True
3   2022-01-24         877  Facatativá          False
4   2022-01-31         999    Medellín          False
..         ...         ...         ...            ...
151 2022-11-28         140      Bogotá          False
152 2022-12-05          59      Bogotá           True
153 2022-12-12         911  Facatativá           True
154 2022-12-19         385  Facatativá          False
155 2022-12-26         364  Facatativá           True

[156 rows x 4 columns]