In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    (np.arange(1, 11)).reshape(5, 2),
    index = ([chr(x) for x in range(65, 70)]),  #range(ord('A'), ord('E') + 1)
    columns=('cod_estudiante', 'Calificación')

)

df

   cod_estudiante  Calificación
A               1             2
B               3             4
C               5             6
D               7             8
E               9            10

### Seleccionando columnas

In [6]:
df.cod_estudiante

A    1
B    3
C    5
D    7
E    9
Name: cod_estudiante, dtype: int64

In [7]:
df['Calificación']

A     2
B     4
C     6
D     8
E    10
Name: Calificación, dtype: int64

### Seleccionando filas con ```.loc```

In [13]:
#Devuelve la fila junato con el nombre de sus columnas y los valores que toman estas variables

df.loc['E']

cod_estudiante     9
Calificación      10
Name: E, dtype: int64

In [11]:
#Mostrando un rango de filas df.loc[inicio : parada], la parada se incluye en el output
df.loc['A':'B']

   cod_estudiante  Calificación
A               1             2
B               3             4

In [12]:
df.loc['B':'D']

   cod_estudiante  Calificación
B               3             4
C               5             6
D               7             8

In [14]:
#Mostrar un rango de filas con una columna específica

#df.loc[filas, columnas]
df.loc['C':'E', 'cod_estudiante']

C    5
D    7
E    9
Name: cod_estudiante, dtype: int64

In [17]:
df.loc[df.index[0:5], 'Calificación']

A     2
B     4
C     6
D     8
E    10
Name: Calificación, dtype: int64

### Seleccionar filas a partir de indices con ```iloc```


* df.iloc es lo mismo que df.loc[df.index[]]
* ```.iloc``` al igual que ```df.index[]``` excluye el indice de parada del un rango ***(inicio : parada)***
``` python

df.iloc[index] = df.loc[df.index[index]]
```

In [25]:
df.iloc[0:5]

   cod_estudiante  Calificación
A               1             2
B               3             4
C               5             6
D               7             8
E               9            10

In [19]:
df.loc[df.index[0:5]]

   cod_estudiante  Calificación
A               1             2
B               3             4
C               5             6
D               7             8
E               9            10

In [27]:
df.iloc[2:]

   cod_estudiante  Calificación
C               5             6
D               7             8
E               9            10

In [29]:
df.iloc[:3]

   cod_estudiante  Calificación
A               1             2
B               3             4
C               5             6

In [30]:
df.iloc[0]

cod_estudiante    1
Calificación      2
Name: A, dtype: int64