In [1]:
import pandas as pd
import datetime
import numpy as np

### ```pd.to_datetime()```

* Se puede usar para convertir **strings**, **Series** o **columnas** de **Dataframes** en un objeto **Timestamp** de pandas
*  *Sintax:* 
    ```python
    pandas.to_datetime(arg, errors=’raise’, dayfirst=False, yearfirst=False, utc=None, format=None)
    ```

Donde:
* dayfirst: Boolean value, places day first if True.
* yearfirst: Boolean value, places year first if True.
* utc: Boolean value, Returns time in UTC if True.
* format: String input to tell position of day, month and year.

In [2]:
#Strings
dateStr = pd.to_datetime('7 August 22')
print(dateStr)
print(type(dateStr))

2022-08-07 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [3]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})

df

   year  month  day
0  2015      2    4
1  2016      3    5

In [4]:
#Dataframe
datesDf = pd.to_datetime(df)
print(datesDf)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [5]:
#Serie
s = pd.Series(['3-8-22', '25-8-05'])
s

0     3-8-22
1    25-8-05
dtype: object

In [6]:
#Añadiendo dayfisrst

datesSeries = pd.to_datetime(s, dayfirst=True)
datesSeries

0   2022-08-03
1   2005-08-25
dtype: datetime64[ns]

In [7]:
#Añadiendo yearfisrst

datesSeries = pd.to_datetime(s, yearfirst=True)
datesSeries

0   2003-08-22
1   2025-08-05
dtype: datetime64[ns]

In [8]:
#Añadiendo UTC

dateUTC = pd.to_datetime('13-11-8 12:00', utc=True, yearfirst=True)
dateUTC

Timestamp('2013-11-08 12:00:00+0000', tz='UTC')

In [9]:
#Añadiendo format=''

date = pd.to_datetime('25 August 2005, 18:21:12', format='%d %B %Y, %H:%M:%S')
date

Timestamp('2005-08-25 18:21:12')

In [10]:
now = pd.to_datetime(datetime.datetime.now())
now

Timestamp('2022-12-17 14:04:08.838400')

### ```pd.to_timedelta()```, Calcular fechas pasadas y futuras

In [11]:
from datetime import datetime

now = pd.to_datetime(datetime.now())
mydate = now + pd.to_timedelta(4, unit='D')
print(mydate)
print(type(mydate))


now2 = datetime.now()
mydate = now2 + pd.to_timedelta(4, unit='D')
print("\n", mydate)
print(type(mydate))

2022-12-21 14:04:09.060859
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

 2022-12-21 14:04:09.062244
<class 'datetime.datetime'>

In [12]:
weeks = pd.to_timedelta(np.arange(6), unit='W')
weeks

TimedeltaIndex(['0 days', '7 days', '14 days', '21 days', '28 days',
                '35 days'],
               dtype='timedelta64[ns]', freq=None)

### ```pd.date_range()```, monstrar un rango de fechas

In [27]:
fechas_venta = pd.date_range('24/12/22', '1/1/23', freq='D')
fechas_venta

DatetimeIndex(['2022-12-24', '2022-12-25', '2022-12-26', '2022-12-27',
               '2022-12-28', '2022-12-29', '2022-12-30', '2022-12-31',
               '2023-01-01'],
              dtype='datetime64[ns]', freq='D')

In [28]:
n_ofSelledProducts = [np.random.randint(11) for x in fechas_venta]
n_ofSelledProducts

[9, 8, 7, 1, 7, 5, 8, 10, 5]

In [40]:
data = {
    'Producto': [chr(p) for p in range(ord('I'), ord('I')+len(fechas_venta))],
    'Cantidad vendida': n_ofSelledProducts,
    'Fechas de la venta': fechas_venta
}

df = pd.DataFrame(data)
df, df.dtypes

(  Producto  Cantidad vendida Fechas de la venta
 0        I                 9         2022-12-24
 1        J                 8         2022-12-25
 2        K                 7         2022-12-26
 3        L                 1         2022-12-27
 4        M                 7         2022-12-28
 5        N                 5         2022-12-29
 6        O                 8         2022-12-30
 7        P                10         2022-12-31
 8        Q                 5         2023-01-01,
 Producto                      object
 Cantidad vendida               int64
 Fechas de la venta    datetime64[ns]
 dtype: object)

In [47]:
#Accediendo al los a tributos de la fechas en las columnas con .dt

df['Día']  = df['Fechas de la venta'].dt.day
df['Mes'] = df['Fechas de la venta'].dt.month
df['Año'] = df['Fechas de la venta'].dt.year
df['Duración de las Ventas'] = df['Fechas de la venta'].max() - df['Fechas de la venta'].min()

df

,Producto,Cantidad vendida,Fechas de la venta,Día,Mes,Año,Duración de las Ventas
0,I,9,2022-12-24,24,12,2022,8 days
1,J,8,2022-12-25,25,12,2022,8 days
2,K,7,2022-12-26,26,12,2022,8 days
3,L,1,2022-12-27,27,12,2022,8 days
4,M,7,2022-12-28,28,12,2022,8 days
5,N,5,2022-12-29,29,12,2022,8 days
6,O,8,2022-12-30,30,12,2022,8 days
7,P,10,2022-12-31,31,12,2022,8 days
8,Q,5,2023-01-01,1,1,2023,8 days

In [90]:
from datetime import timedelta
df['Duración en minutos'] = df['Duración de las Ventas']/timedelta(minutes=1)
df['Duración en segundos'] = df['Duración de las Ventas']/timedelta(seconds=1)
df

,Producto,Cantidad vendida,Fechas de la venta,Día,Mes,Año,Duración de las Ventas,Duración en minutos,Duración en segundos
0,I,9,2022-12-24,24,12,2022,8 days,11520.0,691200.0
1,J,8,2022-12-25,25,12,2022,8 days,11520.0,691200.0
2,K,7,2022-12-26,26,12,2022,8 days,11520.0,691200.0
3,L,1,2022-12-27,27,12,2022,8 days,11520.0,691200.0
4,M,7,2022-12-28,28,12,2022,8 days,11520.0,691200.0
5,N,5,2022-12-29,29,12,2022,8 days,11520.0,691200.0
6,O,8,2022-12-30,30,12,2022,8 days,11520.0,691200.0
7,P,10,2022-12-31,31,12,2022,8 days,11520.0,691200.0
8,Q,5,2023-01-01,1,1,2023,8 days,11520.0,691200.0

In [91]:
df.dtypes

Producto                           object
Cantidad vendida                    int64
Fechas de la venta         datetime64[ns]
Día                                 int64
Mes                                 int64
Año                                 int64
Duración de las Ventas    timedelta64[ns]
Duración en minutos               float64
Duración en segundos              float64
dtype: object